.MainDisplay{
  display: flex;
  flex-direction: row;
  margin: 20% auto;
  width: 40vw;
  height: 20vh;
  background-color: #F2F2F2;
  font-family: inherit;
  font-size: 20px;
  border-radius: 20px;
}
.DisplayAction{
    width: 15vw;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin: 2% auto;
}
.InputValue{
    display: flex;
    flex-direction: column;
    margin: 2% auto;
}
.InputValue>input{
    width: 10vw;

}
button{
    margin: 3% auto;
    width: 5vw;
    
}

.DisplayResult{
    width: 18vw;
    height: 17vh;
    border-radius: 8px;
    margin-top: 2%;
    margin-right: 5%;
    background-color: #BFADD9;
    display: flex;
    flex-direction:row;
    text-align: center;

}
@media screen and (min-width:1024px) and (max-width:1440px){
    .MainDisplay{
        display: flex;
        flex-direction: row;
        margin: 20% auto;
        width: 40vw;
        height: 20vh;
        background-color: #F2F2F2;
        font-family: inherit;
        font-size: 20px;
        border-radius: 20px;
      }
      .DisplayAction{
          width: 15vw;
          background-color: rgb(255, 255, 255);
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          border-radius: 8px;
          margin: 2% auto;
      }
      .InputValue{
          display: flex;
          flex-direction: column;
          margin: 2% auto;
      }
      .InputValue>input{
          width: 10vw;
      
      }
      button{
          margin: 3% auto;
          width: 5vw;
          
      }
      
      .DisplayResult{
          width: 20vw;
          height: 17vh;
          border-radius: 8px;
          margin-top: 2%;
          margin-right: 5%;
          background-color: #BFADD9;
          display: flex;
          flex-direction:row;
          text-align: center;
      
      }
}
@media screen and (min-width:768px) and (max-width:1024px){
    .MainDisplay{
        margin: 20% auto;
        width: 70vw;
        height: 40vh;
      
        font-family: inherit;
        font-size: 20px;
        border-radius: 20px;
      }
      .DisplayAction{
          width: 90%;
          display: flex;
          flex-direction: column;
          margin: 2% auto;
      }
      button{
          margin-top: 5%;
      }
      
      .DisplayResult{
          display: flex;
          flex-direction: column;
          text-align: center;
      
      }

}
@media screen and (min-width:425px) and (max-width:768px){
    .MainDisplay{
      
        flex-direction: column;
        margin: 20% auto;
        width: 65vw;
        height: 55vh;
    
        font-family: inherit;
   
      }
      .DisplayAction{
          width: 50vw;
          justify-content: center
      }
      .InputValue{
        width: 80%;
          
      }
      .InputValue>input{
          width: 35vw;
      
      }
      button{
          width: 20vw; 
      }
      
      .DisplayResult{
          width: 50vw;
          height: 35vh;
          margin: 5% auto;
          background-color: #BFADD9;
          display: flex;
          flex-direction:column;
          text-align: center;
      
      }
}
@media screen and (min-width:375px) and (max-width:425px) {
    .MainDisplay{
      
        flex-direction: column;
        margin: 20% auto;
        width: 65vw;
        height: 55vh;
    
        font-family: inherit;
   
      }
      .DisplayAction{
          width: 50vw;
          justify-content: center
      }
      .InputValue{
        width: 80%;
          
      }
      .InputValue>input{
          width: 35vw;
      
      }
      button{
          width: 20vw; 
      }
      
      .DisplayResult{
          width: 50vw;
          height: 35vh;
          margin: 5% auto;
          background-color: #BFADD9;
          display: flex;
          flex-direction:column;
          text-align: center;
      
      }
    
}
@media screen and (min-width:320px) and (max-width:375px) {
    .MainDisplay{
      
        flex-direction: column;
        margin: 20% auto;
        width: 65vw;
        height: 55vh;
    
        font-family: inherit;
   
      }
      .DisplayAction{
          width: 50vw;
          justify-content: center
      }
      .InputValue{
        width: 80%;
          
      }
      .InputValue>input{
          width: 35vw;
      
      }
      button{
          width: 20vw; 
      }
      
      .DisplayResult{
          width: 50vw;
          height: 35vh;
          margin: 5% auto;
          background-color: #BFADD9;
          display: flex;
          flex-direction:column;
          text-align: center;
      
      }
    
}